.platform, .ball, .line, .score {
	position: fixed;
}
.platform, .ball {
	background-color: white;
}
.playground {
	background-color: black;
}
body {
	margin: 0px;
}
.line {
	background-color: #616161;
}
.score {
	color: #616161;
	text-align: center;
}